html {
  width: 100%;
  box-sizing: border-box;
  font-size: calc(100vw / (1366 / 16));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  position: absolute;
  width: 100%;
}

.menu {
  width: 100%;
  padding: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.menu-nav ul li {
  z-index: 1;
}

.menu-nav ul li a {
  color: #fff;
}

.menu-nav ul li a:hover {
  color: #AAAAAA;
}

header p {
  color: #D136D1;
  font-weight: 500;
  font-size: 1.7rem;
  z-index: 1;
}

.keyvisual {
  width: 100%;
  height: 45rem;
  background: url(../image/ogp.png) no-repeat top/cover;
}

.application-btn {
  width: 18.125rem;
  height: 4.125rem;
  background: linear-gradient(to right, rgb(221,17,142), #664BBF);
  border-radius: 3.125rem;
  text-align: center;
  line-height: 4.125rem;
  box-shadow: 0 0.625rem rgb(221,17,142);
  position: absolute;
  top: 36rem;
  left: 7.4rem;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0.3125rem);
}

.btn:hover {
  background: #D136D1;
}

.application-btn a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.about {
  width: 100%;
  background-color: #141414;
}

h1 {
  color: #D136D1;
  font-size: 3.75rem;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 6.75rem;
}

h2 {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}

.about-flex {
  display: flex;
  padding: 3.75rem 8rem 6.875rem;
  gap: 4.3125rem;
}

.about img {
  width: 27.8125rem;
  height: 40.625rem;
}

.about-text {
  width: 40.125rem;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  padding-top: 5.5625rem;
  padding-bottom: 1.25rem;
}

h4 {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #D136D1;
  padding-bottom: 2.5rem;
}

p {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.about-text p {
  font-size: 1.125rem;
  line-height: 2rem;
  padding-bottom: 1.25rem;
}

.about-list {
  color: #FFFFFF;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.about-list li {
  display: flex;
  gap: 3.4375rem;
  list-style: none;
  padding-bottom: 0.625rem;
}

.about-list li:last-child {
  gap: 2.375rem;
  padding-bottom: 0;
}

.about-list dt {
  font-weight: 700;
}

.about-list dd {
font-weight: 500;
}

.about-btn {
  width: 14.375rem;
  height: 4.75rem;
  background: linear-gradient(to left, rgb(221,17,142), #664BBF);
  border-radius: 3.125rem;
  text-align: center;
  line-height: 4.75rem;
  box-shadow: 0 0.625rem rgb(221,17,142);
  margin-top : 1.5625rem;
}

.about-btn a {
  color: #fff;
  font-size: 1.06rem;
  letter-spacing: 0.1875rem;
}

.speaker {
  background: linear-gradient(152.29deg, #0F002E 0%, #0E002E 0%, #1E092B 23.1%, #320C65 49.12%, #A01B7C 79.8%, #C21780 100%);
}

.speaker-list {
  padding-bottom: 6.75rem;
}

.speaker-content {
  display: flex;
  gap: 3.75rem;
  padding: 5.3125rem 7.5rem 0;
}

.speaker-content:first-child {
  padding-top: 3.4375rem;
}

.speaker-text {
  width: 55%;
}

.speaker-image {
  width: 45%;
}

h5 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  color: #D136D1;
}

h6 {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-bottom: 2.5rem;
}

.speaker p {
  font-size: 1rem;
  line-height: 1.8125rem;
  padding-bottom: 3.875rem;
}

.session {
  width: 100%;
  height: 64.75rem;
  background-color: #141414;
}

.session-list {
  padding-top: 6.25rem;
  padding: 6.25rem 8rem 6.875rem;
}

.session-list li {
  display: flex;
  gap: 4rem;
  border-bottom: 1px solid #D136D1;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

.session-time {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

h7 {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0.05em;
  color: #D136D1;
}

.session-outline p {
  padding-top: 0.9375rem;
}

.registor {
  width: 100%;
  height: 87rem;
  position: relative;
}

.registor h1 {
  padding-top: 5.625rem;
}

.registor img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

footer {
  width: 100%;
  height: 9.9375rem;
  background-color: #141414;
  align-items: center;
  position: relative;
}

footer p {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.top-button {
  position: relative;
  width: 5rem;
  height: 5rem;
  color: #FFFFFF;
  font-size: 1.875rem;
  background: linear-gradient(135deg, #C41A7F 0%, #664BBF 100%);
  border-radius: 50%;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  opacity: 0;
}

.top-button img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.top-button.show {
  opacity: 1;
  transition: 0.4s;
}

/* お申し込みフォーム */

.form_wrap {
  width: 69.375rem;
  margin: 0 auto;
}

.form_content {
  position: relative;
  margin-top: 3.75rem;
  margin-bottom: 6.5625rem;
  background-color: #1A1A1A;
  border: 5px solid #D136D1;
  border-radius: 1.25rem;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 5.625rem 0 11rem 10rem;
}

.label_section {
  padding-bottom: 1.875rem;
}

.label_text {
  margin-bottom: 0.625rem;
}

.required {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 0.8125rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D136D1;
}

.work_element {
  padding-right: 2.1875rem;
}

.work_element:last-child {
  padding-right: 0;
}

.work_element span {
  font-weight: 400;
  vertical-align: 0.15rem;
}

.input_area {
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 18.75rem;
  height: 2.1875rem;
}

.tel {
  width: 13.9375rem;
}

.question {
  width: 37.5rem;
  height: 12.5rem;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  padding: 0.5rem;
}

.input_area::placeholder {
  color: #8B8B8B;
}

.select_area {
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #8B8B8B;
  width: 18.75rem;
  height: 2.1875rem;
}

.btn_submit {
  width: 18.125rem;
  height: 4.125rem;
  background: linear-gradient(to right, rgb(221,17,142), #664BBF);
  border-radius: 3.125rem;
  border: none;
  text-align: center;
  line-height: 4.125rem;
  box-shadow: 0 0.625rem rgb(221,17,142);
  position: absolute;
  color: #fff;
  font-size: 1.06rem;
  letter-spacing: 0.1875rem;
  position:absolute;
  bottom: 5rem;
  left: 50%;
  transform:translateX(-50%);
}

.btn_submit:active {
  box-shadow: none;
  transform: translate(-50%,0.3125rem);
}

.btn_submit:hover {
  background: #D136D1;
}

.top-button:hover {
  transform: scale(1.1);
}